:root {
  --textColor: #444;
}

body {
  margin: 2rem;
  font-family: Helvetica, sans-serif;
}

p {
  line-height: 1.5em;
}

a {
  color: rgb(21, 165, 255);
}

.app {
  display: flex;
}

.app > aside {
  width: 200px;
}

.app > aside a {
  display: block;
  color: var(--textColor);
  padding: 1em 0;
}

main {
  flex: 1;
}
